body{
background-image: url("background.jpg");
}


.heading_text{
background-color: white;
color: black;
padding-left: 20px;
padding-right: 20px;
border-radius: 20px;
box-shadow: 5px 5px 18px blue;
width: 325px;
float: none;
}

.heading{
width:100%;
}

.copy_right_footer{
position: fixed;
bottom: 0;
width: 100%;
background-color: cyan;
line-height: 3;
text-align: center;
}

canvas{
border-style: ridge;
border-width: 2px;
border-color: black;
margin-top: 125px;
box-shadow: 5px 5px 18px blue;
}